

/******************
BEGINNING
******************/

.bump-down {
  padding-top: 30px;
}


/******************
ABOUT
******************/

.headshot-rounded {
  border-radius: 50%;
}

.headshot-div {
  text-align: center;
  padding-top: 80px;
}

.summary-div {
  float: right;
  width: 60%;
}

.about-heading {
  padding-bottom: 15px;
}

#about {
  padding-top: 30px;
  padding-bottom: 30px;
}

/******************
WHEREABOUTS
******************/
.fa-github:before {
    content: "\f09b";
    color: #333;
}

.fa-linkedin:before {
    content: "\f0e1";
    color: #333;
}

.fa-twitter:before {
    content: "\f099";
    color: #333;
}

#whereabouts {
  padding-top: 60px;
  padding-bottom: 30px;
}


/******************
SKILLS
******************/

#skills {
  padding-top: 70px;
}

.skills-header {
  text-align: center;
  color: #333;
  padding-bottom: 25px;
}

.skills-holder {
  text-align: center;
}

/******************
PORTFOLIO
******************/

.portfolio-header {
  text-align: center;
  color: #333;
  padding-bottom: 25px;
}

/******************
CONTACT
******************/

.email-decor {
  color: #2E7D32;
}

.email-buffer {
  margin-top: 15px;  
}
