#banner-photo
  nav.navbar.navpartials.navbar-default
    .partialscont.container
      .navbar-header
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='/experience') Experience
        li
          a(href='/samples') Samples
        li
          a(href='/contact') Contact

.content-container
  .about-info
    .div-one
      img(src='../../images/headshot.jpg')
    .div-two
      h1 {{aboutTitle}} 
      p {{aboutContent}}
      p {{secondContent}}
      p {{thirdContent}}