#banner-photo
  nav.navbar.navpartials.navbar-default
    .partialscont.container
      .navbar-header
      ul.nav.navbar-nav.navbar-right
        li
          a(href='/') Home
        li
          a(href='/about') About
        li
          a(href='/experience') Experience
        li
          a(href='/samples') Samples

h1 {{message}}