#background-teapot
  img(src='./images/teapot.JPG')
nav.navbar.navbar-default
  .container
    .navbar-header
    ul.nav.navbar-nav.navbar-right
      li
        a(href='/about') About
      li
        a(href='/experience') Experience
      li
        a(href='/samples') Samples
      li
        a(href='/contact') Contact


.home-text
  h1.title {{title}}
  h1.message {{message}}