body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*************************
HEADER
*************************/

#banner-photo {
  background-image: url('../images/teapot_cropped.JPG');
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************
INDEX
**************************/

#background-teapot {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-teapot img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.index-nav {
  margin-top: -20px;
}

.home-text h1.title {
  position: absolute;
  left: 50px;
  color: white;
}

.home-text h1.message {
  position: absolute;
  top: 125px;
  left: 50px;
  color: white;
  font-size: 17px;
}

.index-nav {
  margin-top: 0px;
}

.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  margin-top: -50px;
  max-width: 40%;
  margin-left: 55%;
}

.container {
  max-width: 50%;
  margin-left: 40%;
}

