body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*************************
HEADER
*************************/

#banner-photo {
  background-image: url('../images/teapot_cropped.JPG');
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
}

/**************************
INDEX
**************************/

#background-teapot {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#background-teapot img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.index-nav {
  margin-top: -20px;
}

.port-text {
  color: white;
}